.FeaturedInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    .featuredTitle {
      font-size: 20px;
    }
    .featuredMoneyContainer {
      margin: 10px 0px;
      display: flex;
      align-items: center;
      .featuredMoney {
        font-size: 30px;
        font-weight: 600;
      }
      .featuredMoneyRate {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-weight: 600;
        .featuredIcon {
          font-size: 14px;
          margin-left: 5px;
          color: green;
          &.negative {
            color: red;
          }
        }
      }
    }
    .featuredSubtitle {
      font-size: 15px;
      color: gray;
    }
  }
}
