.user {
  flex: 4;
  .userTitleContainer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .userAddBtn {
      width: 80px;
      border: none;
      padding: 5px;
      background-color: teal;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
    }
  }
  .userContainer {
    display: flex;
    margin-top: 20px;
    padding: 0 20px;

    .userShow {
      flex: 1;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      .userShowTop {
        display: flex;
        align-items: center;
        .userShowImg {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userShowTopTitle {
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          .userShowUserName {
            font-weight: 600;
          }
          .userShowUserTitle {
            font-weight: 300;
          }
        }
      }
      .userShowBottom {
        margin-top: 20px;
        .userShowTitle {
          font-size: 14px;
          font-weight: 600;
          color: #bbbaba;
        }
        .userShowInfo {
          display: flex;
          align-items: center;
          margin: 20px 0px;
          color: #444;
          .userShowIcon {
            font-size: 16px !important;
          }
          .userShowInfoTitle {
            margin-left: 10px;
          }
        }
      }
    }
    .userUpdate {
      flex: 2;
      padding: 20px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      margin-left: 20px;
      .userUpdateTitle {
        font-size: 24px;
        font-weight: 600;
      }
      .userUpdateItem {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        label {
          margin-bottom: 5px;
          font-size: 14px;
        }
        .userUpdateInput {
          border: none;
          width: 250px;
          height: 30px;
          border-bottom: 1px solid #bbbaba;
          outline: none;
        }
      }
      .userUpdateForm {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .userUpdateUpload {
          display: flex;
          align-items: center;
          .userUpdateIcon {
            cursor: pointer;
          }
          .userUpdateImg {
            height: 100px;
            width: 100px;
            border-radius: 10px;
            object-fit: cover;
            margin-right: 20px;
          }
        }
        .userUpdateRight {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .userUpdateButton {
            border-radius: 5px;
            border: none;
            padding: 5px;
            cursor: pointer;
            background-color: darkblue;
            color: #fff;
            font-weight: 600;
          }
        }
      }
    }
  }
}
